docs/backups/
*.log
*.log.*
journal.txt
journal-last-entry.txt
.journal_session_tmp
*.swp
session.trace
.build_vinc/
.vinc_errors
*.class
last-message.txt
journal_test.txt
journal-last-entry_test.txt
